#headContainer {
    display: flex; 
    width: 572px;
    height: 28px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
}

#columnsContainer{
    display: flex;
    gap: 24px;
}
#columns {
    width : 176px;
    height : 176px;
    border : 3px solid var(--pink);
    padding: 14px;
    display: flex ; 
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
}

#iconContainer{
    padding-left: 70%;
    display: flex;
    align-items: center;
    gap: 4px;
    padding-bottom: 4px;
}

#edit{
    width: 18px;
    height: 18px;
}

#deleteNote {
    width: 20px;
    height: 20px;
}

#columns h2 {
    margin-bottom: 6px ;
}


#columnAdd{
    width : 176px;
    height : 176px;
    border : 3px solid var(--pink);
    display: flex ; 
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow);
}


