#folderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}
#headContainer {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    width: 620px;
    height: 24px;
}

#iconContainer {
    display: flex;
    align-items: center;
    gap: 12px;
}

#add {
    width: 18px;
}

#pin {
    width: 22px;
}

#columnsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 640px;
    height: 56px;
    border: 3px solid var(--pink);
    padding: 0 6px;
    gap: 16px ;
}


#userInputContainer {
    display: flex;
    align-items: center;
    gap: 12px;
}

