@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

:root { 
    --bg-gradient :linear-gradient(to right, #FAD0C4, #FFD1FF); 
    --box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

h1{
    font-size: 24px;
    @media screen (max-width:720px) {
        font-size : 20px;
    }
}

h2{
    font-size: 20px;
    @media screen (max-width:720px) {
        font-size : 16px;
    }
}

h3{
    font-size: 16px;
    @media screen (max-width:720px) {
        font-size : 14px;
    }
}

h4{
    font-size: 12px;
    @media screen (max-width:720px) {
        font-size : 8px;
    }
}

 h5{
    font-size: 12px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    @media screen (max-width:720px) {
        font-family: "Inter", sans-serif;
        font-size : 8px;
    }
}

.pinDeleteFolder{
    display: flex;
    gap: 6px;
}

#titleFolder1{ 
    display : flex ;
    width : 630px ; 
    height : 22px ;
    justify-content : space-between ;
    align-items : center ;
    margin-bottom : 26px ; 
}

.listContainer div { 
    width : 176px ;
    height : 176px ;
    border : 1.5px solid #FFD1FF ;
    box-shadow : var(--box-shadow);
    padding: 5px;
}

.listContainer { 
    display : flex ;
    gap : 22px ;

}

.listContainer .addNote { 
    display : flex ; 
    justify-content : center ; 
    align-items : center;

}

.listContainer .addNoteBtn {
    width : 42px;
    height : 42px;
}